<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title_page }}</title>
</head>

<body>
    <div style="display: block; margin: 0 auto; ">
        <form method="post">
            <div class="area-form">
                <label for="inomecliente">Nome do cliente:</label>
                <input type="text" name="nomeDoCliente" id="inomecliente">
            </div>
            <div class="area-form">
                <label for="itelcliente">Telefone do cliente</label>
                <input type="number" name="telCliente" id="itelcliente">
            </div>
            <div class="area-form">
                <label for="icepcliente">Cep do Cliente:</label>
                <input type="number" name="cepDoCliente" id="icepcliente">
            </div>
            <div class="area-form">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
    </div>
    <div>
        <caption>Area de Usuarios</caption>
        <table>
            <thead>
                <th>Id</th>
                <th>Nome de Usuario</th>
                <th>CEP</th>
                <th>Telefone</th>
            </thead>
            <tbody>
                {% for id,valores in dados.items() %}
                <tr>
                    <td>{{id}}</td>
                    <td>{{valores["nome"]}}</td>
                    <td>{{valores["cep"]}}</td>
                    <td>{{valores["tel"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>