* {
    box-sizing: border-box;
}

nav {
    width: 100vw;
    height: 12%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 48px;
}

a {
    color: black;
    width: 25%;
    padding: 6px;
    text-decoration: none;
}


a:hover {
    cursor: pointer;
    background-color: lightskyblue;
    border-radius: 6px;
    transition: 1s;
}